/*
*** What we'll need to do ***
    - design navbar
    - design layout of posts (how each post appears AND how they look together)
    - design profile appearance

    - posts will be labeled depending on the type of media it is. We will want to have this label be a different color depending on the type

    Running list of classes we will have to create:
        - post-title
        For profile.html
        - navbar-icon
        - profile-header

    But all of this has to come after we create the objects/classes.
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 1.4 rem;
}

/* Colors */

:root {
    /* We need to find a color scheme that fits the theme/aesthetic we're going for. 
     * we'll do that later though. For now use basics.
        --main-color: #;
        --accent-color: #;
        --secondary-color: #;
    */

    --black: #020202; /* not a true black */
    --white: #ffffff;
    --light-gray: #d3d3d3;
    --lighter-gray: #e8e8e8;
    --accent-color: #537d90; /* #ff6b6b */
    --second-accent-color: #8eb1c2; /* #4ecdc4 */
    --blue-gray: #537d90;
    --lighter-blue: #8eb1c2;

    --main-color: #ab6b51;

    --teal: #39918c;
    --tan: #d0b49f;
    --light-brown: #be9078;
    --brown: #ab6b51;
    --navy: #2f435a;
 


}

/* Page Wrapper */
.wrapper {
    max-width: 1200px;
    max-inline-size: 1200px;
    margin: auto;
}


/* Header and Navbar */

header {
    padding: none;
    max-inline-size: none;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--tan); */
    border-bottom: var(--light-gray) 1px solid;
    padding: 5px;
}
nav { flex-direction: column; }
nav ul { display: flex; list-style: none; justify-content: bottom; }
nav li { 
    border-right: 1px solid var(--lighter-gray ); 
    border-bottom: 1px solid var(--lighter-gray );

    padding: 0px 10px; 
}
nav a { text-decoration: none; }

.navbar-icon {
    inline-size: 4em;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}
a:hover {
    color: var(--second-accent-color);

}

/* Main */
main {
    width: 95%;
    margin: 0 auto;
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    padding: 5px 10px;
}


/* Profile Page */

/* .profile-page {
    width: 95%;
    margin: 0 auto;
    background-color: white;
} */
.profile-header {
    display: flex;
    border: 1px solid var(--lighter-gray);
    padding: 10px 10px;
    background-color: white;
}
.profile-header img {
    width: 100px;
    padding: 5px 5px;
}
.profile-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.profile-header h3 {
    margin: 0px;
}

.profile-box {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 3px double var(--light-gray);
    color: var(--accent-color);
}
/* make no space between text and box */
.box-body {
    /* border: 1px solid var(--blue-gray); */
    padding: 5px 5px;
    margin-inline: 0px;
    margin-bottom: 0px;
}

.connect-list {
    columns: 2;
    p {
        margin: 4px 0;
        font-size: 0.95rem;
    }
}

.icon {
    display: inline-block;
    width: 20px; height: 20px;
}
.friends-list.icon {
    border: 1px solid black;
    border-radius: 50%;
}

.friends-list {
    min-width: 200px;
}


.hidden {
    display : none;
}


/**********
** Posts **
**********/

.post-container {
    margin-top: 10px;
    border: var(--light-gray) 1.5px solid;
    background-color: var(--lighter-gray);
}

.post {
    /* border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color); */
    
    padding: 2px 10px;
    margin-bottom: 5px;
    background-color: var(--white);
    box-shadow: 0px 2px 3px var(--light-gray);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 0px;
}

.media-badge {
    inline-size: fit-content;
    padding: 15px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid var(--light-gray);
    color: var(--navy);
    font-size: 0.8rem;
    font-weight: bold;
}


/* Text */
h1 {
    color: var(--accent-color);
}
h2 {
    color: var(--second-accent-color);
}
h3 {
    color: var(--navy);
}